@charset "UTF-8";

/* header */
.header_area {
	width: 1100px;
	height: 100px;
	margin: auto;
	padding: 0 20px;
}
.header_area .logo {
	float: left;
}
.header_area .menu {
	float: right;
	height: 80px;
}

/* main */
.main_wrap {
	display: block;
}

.section_area {
	width: 1100px;
	margin: auto;
	padding: 0 24px;
}

.section_area h2 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 24px;
}

.section_area span {
	display: block;
	text-align: center;
	font-size: 20px;
	margin-bottom: 16px;
}
.section_area .about_list {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section_area .about_item {
	width: 280px;
}

.section_area .skill_list {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section_area .skill_item {
	width: 280px;
}

/* fotter */
.footer_area {
	width: 1100px;
	height: 100px;
	margin: auto;
	padding: 0 20px;
}

.footer_area span {
	float: right;
	height: 80px;
}

