@charset "UTF-8";

/* header */
.header_area {
	width: 1100px;
	height: 40px;
	margin: 20px auto;
	padding: 0 20px;
}
.header_area .logo {
	float: left;
}
.header_area .logo a {
	text-decoration: none;
	font-size: 32px;
	font-weight: bold;
}
.header_area .menu {
	float: right;
}
.header_area .menu .menu_link {
	position: relative;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
}
.header_area .menu .menu_link span::after{
	display: block;
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 2px;
	background-color: #ccc;
}

/* main */
.main_wrap {
	display: block;
}

.section_area {
	width: 1100px;
	margin: auto auto 130px;
	padding: 0 24px;
}

.section_area h2 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 24px;
}

.section_area .section_subttl {
	display: block;
	text-align: center;
	font-size: 16px;
	margin-bottom: 4px;
}

.section_area ul {
	list-style: none;
}

.section_area .about_list {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section_area .about_item {
	width: 300px;
}

.section_area .skill_list {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section_area .skill_item {
	width: 500px;
	margin-bottom: 50px;
	background-color: #eee;
	border-radius: 30px;
}

.section_area .skill_item .skill_label {
	text-align: center;
    line-height: 150px;
    height: 150px;
    width: 150px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 150px;
    font-size: 20px;
}

.section_area .skill_item .skill_detal li{
	text-align: center;
	line-height: 50px;
    height: 50px;
    width: 300px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 150px;
    font-size: 12px;
}

.section_area .character_item {
	margin: 16px auto;
}

.section_area .character_point {
	font-size: 20px;
}

/* footer */
.return {
	bottom: 20px;
    position: fixed;
	display: block;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #ccc;
    text-decoration: none;
    transition: background 0.3s;
}

.return span {
	color: #ccc;
}

.return::after {
	content: '';
	display: block;
	position: absolute;
	top: 8px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 14px;
	height: 14px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(
		-45deg
		);
}

.footer_area {
	width: 1100px;
	height: 100px;
	margin: auto;
	padding: 0 20px;
}

.footer_area span {
	float: right;
	height: 80px;
}

