Thumbs.db
.DS_Store
*.log
*.sql
*.sqlite

/wp-admin/*
/wp-content/*
!wp-content/plugins/
wp-content/plugins/index.php
wp-content/plugins/backwpup/*
wp-content/plugins/wordpress-importer/*
!wp-content/themes/
wp-content/themes/twentynineteen
wp-content/themes/twentytwenty
wp-content/themes/twentytwentyone
wp-content/themes/index.php
!wp-content/languages/
/wp-content/languages/*.json
/wp-content/languages/*.mo
/wp-content/languages/*.po
/wp-includes/*
/.htaccess
/.htpasswd
/index.php
/license.txt
/readme.html
/wp-config.php
/wp-*.php
/xmlrpc.php

/local-adminer-*.php
/local-phpinfo.php
